asgiref          
asttokens        
attrs             
backcall          
beautifulsoup4    ==4.11.1
bleach            ==5.0.1
cachetools        ==5.2.0
certifi           ==2022.6.15
chardet           ==3.0.4
charset-normalizer==2.1.1
click             ==8.1.3
cmake             ==3.24.2
colorama          
decorator         ==5.1.1
defusedxml        ==0.7.1
distlib          
Django            
dlib              
docutils         
entrypoints       
executing        
face-recognition  
fastjsonschema   
filelock          
Flask             
Flask-SQLAlchemy  
google            
google-auth       
greenlet         
gunicorn          
  idna              
ipython          
ipython-genutils  
itsdangerous     
jedi              
Jinja2            
jsonschema        ==4.17.0
numpy            
opencv-contrib-python-headless
packaging
pandas           
pandocfilters    
parso           
pickleshare       
Pillow            
pip             
virtualenv       
webencodings    
Werkzeug          
